<!DOCTYPE>
<html>
<head>
   <meta charset="UTF-8">
   <title>
      <%=class_info.dataValues.cla_name%>
   </title>
   <% include ../Common/header %>
</head>

<body>
   <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li>
         <a class="active">
            <%=class_info.dataValues.cla_name%>
         </a>
      </li>
   </ol>
   <div class="page-header">
      <h3>
         <%=class_info.dataValues.cla_name%>
            <small><%=class_info.dataValues.cla_teacher%></small>
      </h3>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <!--学生们-->
         <a class="btn btn-primary" href="/student/add?class_id=<%=class_info.dataValues.id%>">添加学生</a>
      </div>
      <!--<div class="panel-body">-->
         <div class="table-responsive">
            <table class="table table-condensed table-hover">
               <thead>
                  <tr>
                     <th>姓名</th>
                     <th>性别</th>
                     <!--<th>生日</th>-->
                     <!--<th>添加时间</th>-->
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody>
                  <% for(var i=0; i<students.length; i++) {%>
                     <tr>
                        <td>
                           <a href="/student/<%=students[i].dataValues.id%>">
                              <%=students[i].dataValues.stu_name%>
                           </a>
                        </td>
                        <td>
                           <%=students[i].dataValues.stu_sex%>
                        </td>
                        <!--<td>-->
                        <!--   <%=students[i].get('stu_birthday')%>-->
                        <!--</td>-->
                       
                        <td>
                           <a href="/student/edit/<%=students[i].dataValues.id%>" class=" btn btn-warning">编辑</a>
                           <!--<a href="/student/delete/<%=students[i].dataValues.id%>" class=" btn btn-danger">删除</a>-->
                        </td>
                     </tr>
                     <% }%>
               </tbody>
            </table>
         </div>
      <!--</div>-->
      <div class="panel-footer">
         
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
          <a class="btn btn-primary" href="/evaluate/add?class_id=<%=class_info.dataValues.id%>">添加课评</a>
      </div>
      <!--<div class="panel-body">-->
         <div class="table-responsive">
            <table class="table table-condensed table-hover">
               <thead>
                  <tr>
                     <!--<th>编号</th>-->
                     <!--<th>时间</th>-->
                     <th>类型</th>
                     <th>题目</th>
                     <!--<th>课评</th>-->
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody>
                  <% for(var i=0; i<evaluates.length;i++){%>
                     <tr    <% if(evaluates[i].dataValues.eva_type =="机构课"){%>class="success" <% }else{%>class="warning" <% } %>>
                        <td data-toggle="collapse" data-parent="#accordion" data-target="#collapse<%=evaluates[i].id%>">
                           <%=evaluates[i].eva_type%>
                        </td>
                        <td data-toggle="collapse" data-parent="#accordion" data-target="#collapse<%=evaluates[i].id%>">
                           <div class="evaluate_tr" data-toggle="tooltip" title="<h5>击查重课评内容</h5>" data-placement="top">
                              <%=evaluates[i].eva_title%>
                           </div>
                        </td>
                        <td>
                           <a class="btn btn-primary" href="/evaluate/preview/<%=evaluates[i].id%>">预览</a>
                           <a class="btn btn-warning" href="/evaluate/edit/<%=evaluates[i].dataValues.id%>">编辑</a>
                           <% if(evaluates[i].dataValues.eva_type =="机构课"){%>
                              <a class="btn btn-info" href="/evaluate/addStu/<%=evaluates[i].dataValues.id%>">学生课评</a>
                              <% } %>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="3">
                           <div id="collapse<%=evaluates[i].id%>" class="panel panel-collapse collapse">
                              <div class="panel-body">
                                 <!--<p  style="word-break:break-all"><%=evaluates[i].eva_content%></p>-->
                                 <button class="btn btn-danger modal_delete_btn" data-toggle="modal" data-target="#deleteModal" data-href="/evaluate/delete/<%=evaluates[i].dataValues.id%>">删除</button>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <% }%>
               </tbody>
            </table>
         </div>
      <!--</div>-->
      <div class="panel-footer">
        
      </div>
   </div>
   <!-- 模态框（Modal） -->
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
               <h4 class="modal-title" id="myModalLabel">
                  警告!
               </h4>
            </div>
            <div class="modal-body">
               是否确认删除？
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
               <a class="modal_delete_a btn btn-danger">删除</a>
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal -->
</body>
<script>
   $(function() {
      $(".evaluate_tr").tooltip({
         html: true
      });
   });
   //课评Modal uasge
   $('button.modal_delete_btn').on('click', function () {
      var href = $(this).attr('data-href');
     $('a.modal_delete_a').attr('href',href);
})
</script>

</html>
